.container {
  outline: 1px solid #666;
}

.advantages {
  outline: 1px solid #666;
}

.principal {
  outline: 1px solid #666;
}

.services {
  outline: 1px solid #666;
}

.privilege {
  outline: 1px solid #666;
}

.indicate {
  outline: 1px solid #666;
}

.intro {
  outline: 1px solid #666;
}

.forma {
	outline: 1px solid #666;
}

.main-footer {
	outline: 1px solid #666;
}

.hashtag {
	outline: 1px solid #666;
}

.social-button {
  outline: 1px solid #666;
}

.footer-copyright {
  outline: 1px solid #666;
}

.hotelsearch {
  outline: 1px solid #666;
}

.form-wrapper {
  outline: 1px solid #666;
}
.value-form {
  outline: 1px solid #666;
}

.structure {
  outline: 1px solid #666;
}

.selections {
  outline: 1px solid #666;
}

.sort {
  outline: 1px solid #666;
}

.sorting {
  outline: 1px solid #666;
}

.arrows {
  outline: 1px solid #666;
}

.pick {
  outline: 1px solid #666;
}

.hot {
  outline: 1px solid #666;
}

.rating {
  outline: 1px solid #666;
}