.site-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
	
}

.advantages_h1 {
	font-size: 21px;
	line-height:;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
	
}

.advantages_p {
	font-size: 14px;
	line-height: 26px;
	color: #7d7d7d;
	font-weight: normal;
	font-family: PT Sans;
}

