.site-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
	
}

.infrastructure {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
	font-family: PT Sans;
}

.name_of_hotels {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
}

.total {
	font-size: 14px;
	line-height: 21px;
	color: #d5d5d5;
	font-weight: normal;
	font-family: PT Sans;
}